<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Add Poster</title>
  </head>
  <body>
    <%- include("./partials/nav") %> <% if (locals.message) { %>
    <div class="alert alert-danger" role="alert"><%= locals.message %></div>
    <% } %>

    <div class="container mb-3">
      <form action="/poster/create" method="post" enctype="multipart/form-data">
        <div class="m-3">
          <label for="posterurl" class="form-label">Poster Image</label>
          <input
            required
            name="posterurl"
            type="file"
            class="form-control"
            id="posterurl"
            aria-describedby="posterHelp"
          />
          <div id="posterHelp" class="form-text">
            Upload a poster image in JPEG, PNG, or GIF format.
          </div>
        </div>

        <div class="m-3">
          <label for="sportname" class="form-label">Sports Name</label>
          <select
            name="sportname"
            class="form-select"
            id="sportname"
            aria-describedby="sportFeedback"
            required
          >
            <option selected disabled value="">Choose...</option>
            <option value="armwrestling">Arm Wrestling</option>
            <option value="powerlifting">Powerlifting</option>
            <option value="wrestling">Wrestling</option>
          </select>
          <div id="sportFeedback" class="invalid-feedback">
            Please choose a Sports Name.
          </div>
        </div>

        <div class="m-3">
          <label for="date" class="form-label">Start Date</label>
          <input
            required
            name="date"
            type="date"
            class="form-control"
            id="date"
            aria-describedby="dateHelp"
          />
        </div>

        <div class="m-3">
          <label for="time" class="form-label">Time</label>
          <input
            required
            name="time"
            type="time"
            class="form-control"
            id="time"
            aria-describedby="timeHelp"
          />
        </div>

        <div class="m-3">
          <label for="email" class="form-label">Email Address</label>
          <input
            required
            name="email"
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="m-3">
          <label for="phonenumber" class="form-label">Phone Number</label>
          <input
            name="phonenumber"
            type="text"
            pattern="\d{10}"
            class="form-control"
            id="phonenumber"
            title="Please enter a valid 10-digit phone number"
            minlength="10"
            maxlength="10"
            required
          />
          <div id="phoneFeedback" class="invalid-feedback">
            Please provide a valid phone number.
          </div>
        </div>

        <div class="m-3">
          <label for="username" class="form-label">Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="username">@</span>
            <input
              name="username"
              type="text"
              class="form-control"
              id="username"
              aria-describedby="usernameFeedback"
              required
            />
            <div id="usernameFeedback" class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>

        <div class="m-3">
          <label for="state" class="form-label">State</label>
          <select name="state" class="form-select" id="state" required>
            <option selected disabled value="">Choose...</option>
            <option>Uttarakhand</option>
            <option>Himachal Pradesh</option>
          </select>
          <div id="stateFeedback" class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>

        <div class="m-3">
          <label for="city" class="form-label">City</label>
          <input
            name="city"
            type="text"
            class="form-control"
            id="city"
            required
          />
          <div id="cityFeedback" class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>

        <div class="m-3">
          <label for="zip" class="form-label">Zip Code</label>
          <input
            name="zip"
            type="text"
            class="form-control"
            id="zip"
            required
          />
          <div id="zipFeedback" class="invalid-feedback">
            Please provide a valid zip code.
          </div>
        </div>

        <div class="m-3">
          <label for="location" class="form-label">Location</label>
          <input
            required
            name="location"
            type="text"
            class="form-control"
            id="location"
          />
        </div>

        <div class="m-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="description"
            class="form-control"
            id="description"
            rows="5"
            placeholder="Please follow the rules and be aware that any inappropriate behavior will incur a fine. Maintain respect for others. Thank you for visiting this poster, and we hope you will come again. Let's work together to create a positive and enjoyable environment for everyone."
          ></textarea>
        </div>

        <button type="submit" id="submitBtn" class="btn btn-primary m-3">
          Create
        </button>
      </form>
    </div>

    <script>
      function disableButton() {
        const submitButton = document.getElementById("submitBtn");
        submitButton.disabled = true;
        submitButton.innerText = "Processing...";
        return true;
      }
    </script>
    <%- include("./partials/script") %>
  </body>
</html>
