<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Add Poster</title>
  </head>
  <body>
    <%- include("./partials/nav") %> <% if (locals.message) { %>
    <div class="alert alert-danger" role="alert"><%= locals.message %></div>
    <% } %>
    <div class="container mb-3">
      <form action="/poster/create" method="post">
        <div class="m-3">
          <label for="poster" class="form-label">Poster Image</label>
          <input
            required
            name="poster"
            type="file"
            class="form-control"
            id="poster"
            aria-describedby="emailHelp"
            onchange="handleFileChange()"
          />
          <input type="hidden" name="posterBase64" id="posterBase64" />
        </div>

        <div class="m-3">
          <label for="sportname" class="form-label">Sports Name</label>
          <select
            name="sportname"
            class="form-select is-invalid"
            id="sportname"
            aria-describedby="validationServer04Feedback"
            required
          >
            <option selected disabled value="">Choose...</option>
            <option value="armwrestling">Arm wrestling</option>
            <option value="powerlifting">Powerlifting</option>
            <option value="wrestling">Wrestling</option>
          </select>
          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            Please choose a Sports Name.
          </div>
        </div>

        <div class="m-3">
          <label for="date" class="form-label">Start Date</label>
          <input
            required
            name="date"
            type="date"
            class="form-control"
            id="date"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="m-3">
          <label for="time" class="form-label">Time</label>
          <input
            required
            name="time"
            type="time"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="m-3">
          <label for="email" class="form-label">Email address</label>
          <input
            required
            name="email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="m-3">
          <label for="phonenumber" class="form-label">phonenumber</label>
          <input
            name="phonenumber"
            type="text"
            pattern="\d{10}"
            class="form-control is-invalid"
            id="phonenumber"
            title="Please enter a valid 10-digit phone number"
            minlength="10"
            maxlength="10"
            aria-describedby="validationServer03Feedback"
            required
          />
          <div id="validationServer03Feedback" class="invalid-feedback">
            Please provide a valid phonenumber.
          </div>
        </div>

        <div class="m-3">
          <label for="username" class="form-label">Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="username">@</span>
            <input
              name="username"
              type="text"
              class="form-control is-invalid"
              id="validationServerUsername"
              aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
              required
            />
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>

        <div class="m-3">
          <label for="state" class="form-label">State</label>
          <select
            name="state"
            class="form-select is-invalid"
            id="state"
            aria-describedby="validationServer04Feedback"
            required
          >
            <option selected disabled value="">Choose...</option>
            <option>Uttarakhand</option>
            <option>Himachal Pradesh</option>
          </select>
          <div id="validationServer04Feedback" class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>

        <div class="m-3">
          <label for="city" class="form-label">City</label>
          <input
            name="city"
            type="text"
            class="form-control is-invalid"
            id="city"
            aria-describedby="validationServer03Feedback"
            required
          />
          <div id="validationServer03Feedback" class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>

        <div class="m-3">
          <label for="zip" class="form-label">Zip</label>
          <input
            name="zip"
            type="text"
            class="form-control is-invalid"
            id="zip"
            aria-describedby="validationServer05Feedback"
            required
          />
          <div id="validationServer05Feedback" class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>

        <div class="m-3">
          <label for="location" class="form-label">Location</label>
          <input
            required
            name="location"
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="m-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="description"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="5"
            value="Please follow the rules and be aware that any inappropriate behavior will incur a fine. Maintain respect for others. Thank you for visiting this poster, and we hope you will come again. Let's work together to create a positive and enjoyable environment for everyone."
            placeholder=""
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary m-3">Create</button>
      </form>
    </div>
    <%- include("./partials/script") %>
    <script>
      function handleFileChange() {
        const fileInput = document.getElementById("poster");
        const file = fileInput.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onloadend = function () {
            document.getElementById("posterBase64").value = reader.result;
          };
          reader.readAsDataURL(file);
        }
      }
    </script>
  </body>
</html>
