<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Signup-page</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container mb-3">
      <% if (locals.message) { %>
      <div class="alert alert-danger" role="alert"><%= locals.message %></div>
      <% } %>

      <!-- The form now includes 'enctype="multipart/form-data"' to support file uploads -->
      <form
        id="signupForm"
        action="/user/signup"
        method="post"
        enctype="multipart/form-data"
        onsubmit="return disableButton()"
      >
        <div class="m-3">
          <label for="profileurl" class="form-label">Profile Photo</label>
          <input
            name="profileurl"
            type="file"
            accept="image/*"
            class="form-control"
            id="profileurl"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="m-3">
          <label for="username" class="form-label">Username</label>
          <input
            required
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="username"
          />
        </div>
        <div class="m-3">
          <label for="password" class="form-label">Create Password</label>
          <input
            required
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" id="submitBtn" class="btn btn-primary m-3">
          Signup
        </button>
      </form>
    </div>
    <%- include("./partials/script") %>

    <script>
      function disableButton() {
        const submitButton = document.getElementById("submitBtn");
        submitButton.disabled = true;
        submitButton.innerText = "Processing...";
        return true;
      }
    </script>
  </body>
</html>
